*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}
body{
   background-color: #d5dae5;
}
.container{
   display:grid;
   grid-template-columns: 12% 65% 23%;
   background-color: #fefefe;
   border-radius: 1rem;
}
.left-sidebar{
   display: flex;
   flex-direction: column;
   background-color: #fefefe;
   justify-content: space-between;
   align-items: center;
}
.left-sidebar>.header-left-sidebar{
   align-self: flex-start;
   display: flex;
}
.left-sidebar>.header-left-sidebar .logo{
   background-image: url("./image/s-logo.png");
   background-size: 90px 90px;
   width: 80px;
   height: 80px;
}
.left-sidebar>.header-left-sidebar .header-left-sidebar-logo-name{
   align-self: flex-end;
   margin-bottom: 25px;
   font-weight: bolder;
   font-size: 1.2rem;
}
.left-sidebar>.nav>ul{
   align-self: center;
   color: #58595a;
}
.left-sidebar>.nav>ul>li{
   margin: 4vh 0vh 4vh 0vh ;
   list-style:none;
}
.left-sidebar>.nav>ul>li>a{
   text-decoration: none;
   color: inherit;
}
.left-sidebar>.nav>ul>li:nth-child(1){
   color: black;
   border-right: 3px solid #5c82fd;
}
.left-sidebar>.nav>ul>li:nth-child(1)>a>i{
   color: #5c82fd;
}
.left-sidebar>.nav>ul>li>a>i{
   margin-right: 20px;
}
.box-update{
   align-items: flex-end;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 20vh;
   font-size: 1rem;
   justify-content: space-between;
   color: #58595a;
   background-color: #EDECFD;
   margin: 1rem;
   border-radius: 5px;
   padding: 20px 0 10px 0;
}
.box-update button{
   background-color: #5e81f4;
   width: 110px;
   height: 40px;
   border-radius: 0.6rem;
   border: none;
   color: white;
   font-size: 1rem;
}
.box-update img{
   width: 50%;
}
.box-update span{
   text-align: center;
}
.box-update span strong{
   color: black;
}
.main{
   background-color: #ebebf0;
   padding: 1.5rem;
   display: flex;
   flex-direction: column;
}
.main .nav-bar-main{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   height: 40px;
}
.main .nav-bar-main .nav-left .date{
   margin-right: 1rem;
   color: #58595a;
   display: inline; 
}
.main .nav-bar-main .nav-left i{
   background-color: #e5e9f9; 
   box-sizing: content-box;
   padding: 7px;
   color: #5e81f4;
   border-radius: 5px;
}
.main .header-main{
   width: 100%;
   height: 20vh;
   background-color: #f4dce1;
   display: flex;
   align-items: center;
   border-radius: 1rem;
   margin-top: 20px;
}
.main .header-main .text{
   margin-left: 60px;
}
.main .header-main .text h4{
   color: #e94152;
   font-size: 1.2rem;
   margin-bottom: 30px;
}
.main .header-main img {
   width: 30%;
   margin-left: 80px;
}
.main-container{
   display: grid;
   margin-top: 1rem;
   grid-template-columns: 45% 53%;
   column-gap: 1rem;
}
.main-container .content{
   background-color: #fefefe;
   height: 230px;
   border-radius: 1rem;
   padding: 1rem;
}
.header-content{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
}
.header-content a{
   text-decoration: none;
   color: inherit;
}
.unit-study{
   display: grid;
   height: 90%;
   grid-template-rows: repeat(5,1fr);
}
.unit{
   display: grid;
   grid-template-columns: 187px 100px 30px;
   column-gap: 10px;
   align-items: center;
}
.number-unit{
   color: black;
   font-weight: bold;
}
.title-unit{
   color: #58595a;
}
.box-percent{
   background-color: #a0a1a3;
   width: 100px;
   height: 5px;
   display: flex;
   justify-self: end;
   border-radius: 1rem;
}
.complete-percent{
   background-color: #6888f3;
   width: 70%;
   border-radius: 1rem;
}
.unit:nth-child(1) .box-percent .complete-percent{
   background-color: #fe606d;
   width: 25%;
}
.unit:nth-child(2) .box-percent .complete-percent{
   width: 44%;
}
.unit:nth-child(3) .box-percent .complete-percent{
   width: 40%;
}
.unit:nth-child(4) .box-percent .complete-percent{
   background-color: #fe606d;
   width: 15%;
}
.unit:nth-child(5) .box-percent .complete-percent{
   width: 76%;
}
.unit:nth-child(1)  .percentag{
   color: #fe606d;
}
.unit:nth-child(2)  .percentag{
   color: #6888f3;
}
.unit:nth-child(3)  .percentag{
   color: #6888f3;
}
.unit:nth-child(4) .percentag{
   color: #fe606d;
}
.unit:nth-child(5) .percentag{
   color: #6888f3;
}
.date-complete{
   display: grid;
   grid-template-columns: repeat(7,1fr);
   height: 90%;
   justify-items: center;
   padding: 0.5rem 1rem;
   color: #a0a1a3;
}
.date{
   display: grid;
   grid-template-rows: 20% 70% 10%;
   justify-items: center;
}
.complete-bar-graph{
   width: 5px;
   height: 110px;
   background-color: #a0a1a3;
   display: inline-flex;
   flex-direction: column-reverse;
   border-radius: 1rem;
}
.date-complete .date:nth-child(1) .complete-bar-graph .grammar{
   height: 55%;
   position: relative;
   z-index: 1;
   background-color:#5251ae;
   border-radius: inherit;
}
.date-complete .date:nth-child(1) .complete-bar-graph .vocab{
   height: 20%;
   position: relative;
   z-index: 1;
   background-color:#fe606d;
   border-radius: inherit;
}
.date-complete .date:nth-child(2) .complete-bar-graph .listening{
   height: 90%;
   position: relative;
   background-color:#5c80f4;
   border-radius: inherit;
   z-index: 1;
}
.date-complete .date:nth-child(2) .complete-bar-graph .vocab{
   height: 10%;
   z-index: 0;
   position: relative;
   background-color:#fe606d;
   border-radius: inherit;
}
.date-complete .date:nth-child(3) .complete-bar-graph .listening{
   height: 45%;
   position: relative;
   background-color:#5c80f4;
   border-radius: inherit;
}
.date-complete .date:nth-child(3) .complete-bar-graph .grammar{
   height: 35%;
   position: relative;
   background-color:#5251ae;
   border-radius: inherit;
}
.date-complete .date:nth-child(4) .complete-bar-graph .listening{
   height: 60%;
   position: relative;
   background-color:#5c80f4;
   border-radius: inherit;
}
.date-complete .date:nth-child(4) .complete-bar-graph .vocab{
   height: 40%;
   position: relative;
   background-color:#fe606d;
   border-radius: inherit;
}
.date-complete .date:nth-child(5) .complete-bar-graph .writing{
   height: 75%;
   position: relative;
   background-color:#c8c9e9;
   border-radius: inherit;
}
.date-complete .date:nth-child(5) .complete-bar-graph .vocab{
   height: 25%;
   position: relative;
   background-color:#fe606d;
   border-radius: inherit;
}
.date-complete .date:nth-child(6) .complete-bar-graph .listening{
   height: 45%;
   position: relative;
   background-color:#5c82fd;
   border-radius: inherit;
}
.date-complete .date:nth-child(6) .complete-bar-graph .grammar{
   height: 55%;
   position: relative;
   background-color:#5251ae;
   border-radius: inherit;
}
.date-complete .date:nth-child(7) .complete-bar-graph .grammar{
   height: 55%;
   position: relative;
   background-color:#5251ae;
   border-radius: inherit;
}
.date-complete .date:nth-child(7) .complete-bar-graph .vocab{
   height: 15%;
   position: relative;
   background-color:#fe606d;
   border-radius: inherit;
}
.date-complete .date:nth-child(7) .complete-bar-graph .listening{
   height: 40%;
   position: relative;
   background-color:#5c82f4;
   border-radius: inherit;
}
.label-graph{
   display: flex;
   flex-direction: row;
   align-self: flex-end;
   grid-column: 1/8;
}
.label-graph .skill-learn{
   font-size: 12px;
   margin: 0 1rem 0 1rem;
   display: flex;
   flex-direction: row;
}
.label-graph .skill-learn i{
   margin-right: 7px;
}
.label-graph .skill-learn:nth-child(1) i{
   color: #fe606d;
}
.label-graph .skill-learn:nth-child(2) i{
   color: #5251ae;
}
.label-graph .skill-learn:nth-child(3) i{
   color: #5c80f4;
}
.label-graph .skill-learn:nth-child(4) i{
   color: #c8c9e9;
}
.head-foot{
   margin: 1rem 0.2rcap;
   display: inline-flex;
   flex-direction: row;
   justify-content: space-between;
}
.head-foot  a{
   text-decoration: none;
   color: inherit;
}
.foot-main{
   display: grid;
   grid-template-columns: repeat(3,1fr);  
}
.courses{
   width: 80%;
   padding: 1rem;
   border-radius: 1rem;
   display: grid;
   grid-template-columns: 30% 60% 10%; 
   grid-template-rows: repeat(2,1fr);
   row-gap: 10px;
}
.courses:nth-child(1){
   background-color: #4d4cac;
}
.courses:nth-child(2){
   background-color: #9698d6;
}
.courses:nth-child(3){
   background-color: #ff808b;
}
.level-course{
   grid-column: 1;
   grid-row: 1/3;
   display: flex;
   align-items: center;
}
.level-course .level{
   padding: 13px; 
   background-color: #5a5ab2;
   border-radius: 1rem;
   color: #fefefe;
   font-weight: bold;
}
.courses:nth-child(1) .level-course .level{
   background-color: #5a5ab2;
}
.courses:nth-child(2) .level-course .level{
   background-color: #9498d6;
}
.courses:nth-child(3) .level-course .level{
   background-color: #ff919b;
}
.type-course{
   grid-column: 2/3;
   grid-row: 1;
   font-size: 14px;
   color: #eceaea;
}
.subject{
   grid-column: 2/3;
   grid-row: 2;
   font-weight: bold;
   color: #fefefe;
}
.courses .arrow{
   grid-column: 3/4; 
   grid-row: 2/3;
   color: #fefefe;
}
.right-sidebar{
   padding: 2rem 2rem;
}
.nav-right-sidebar{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.nav-right-sidebar a{
   text-decoration: none;
   color: inherit;
   font-weight: bold;
}
.nav-right-sidebar a i{
   color: #a0a1a3;
}
.profile{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2vh;
   flex-direction: column;
}
.profile-logo{
   width: 9rem;
   height: 9rem;
   background-color: dodgerblue;
   border-radius: 50%;
   border: 5px solid #a0a1a3;
   background-image: url("./image/logo-profile.png");
   background-size: cover;
}
.profile .name{
   margin-top: 5px;
   font-weight: bold;
}
.profile .role{
   margin-top:5px ;
   color: #58595a;
}
.box-content{
   display: flex;
   flex-direction: column;
   margin-top: 1rem;
}
.box{
   display: grid;
   grid-template-columns: 20% 50% 30%;
   grid-template-rows: repeat(2,1fr);
   height: 10vh;
   font-size: 14px;
   align-items: center;
}
.level-of-skill{
   grid-column: 1;
   grid-row: 1/3;
   align-self: center;
}
.level-of-skill span{
   padding: 10px;
   background-color: #ececef;
   border-radius: 7px;
   font-weight:bold;
}
.box .title{
   grid-column: 2;
   grid-row: 1;
   font-weight: bold;
   padding-top: 10x;
}
.level-discribtion{
   grid-column: 2;
   grid-row: 2;
   padding-bottom: 10px;
}
.level-line{
   grid-column: 3;
   grid-row: 1/3;
   height: 5px;
   width: 80px;
   background-color: #a0a1a3;
   display: flex;
   align-self: center;
}
.line-complete{
   width: 65%;
   background-color: #6888f3;
}
.right-sidebar .foot-sidebar .head-title-left-sidebar{
   display: flex;
   justify-content: space-between;
   padding: 0px 5px 0px 5px;
}
.right-sidebar .foot-sidebar .box-content .box:nth-child(1) .level-of-skill{
   color:#e94152  ;
}
.level-of-skill{
   color:#5c80f4  ;
}
.right-sidebar .foot-sidebar .box-content .level-discribtion{
   color: #58595a;
}
.last-sidebar-qoute{
   display: flex;
   color: #58595a;
   align-self: center;
}