/* Styling only */
body {
  margin: 0;
}

.wrapper {
  background-color: #333333;
  color: #444;
  padding: 20px;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:20px;
}

.item {
  background-color: #3092d7;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 3em;
}
.a{
  grid-column: 1/4;
}
.b{
  grid-row:2/4;
}
.e{
  grid-row: 3;
  grid-column: 2/4;
}
.f{
  grid-column: 1/4; 
}
/* Layouting only  (your work)*/
